.nav {
    background-color: #04b;
}

.nav-link {
    text-decoration:none;
    list-style: none;
    display: inline-flex;
    padding: 0 10px;
    color: #fff;
}

.head {
    text-align: center;
    background-color:#d30;
    min-height: auto;
    padding: 10px 0px
}