body {
    background-color: #999;
}

.nav {
    background-color: #047;
}

.nav-link {
    text-align: center;
    text-decoration:none;
    list-style: none;
    display: inline-flex;
    padding: 0 10px;
    color: #fff;
}

.nav-link:hover {
    color: #555;
}

.nav-link#current {
    color: #d30;
}

.head {
    color: #fff;
    text-align: center;
    background-color:#d30;
    min-height: auto;
    padding: 10px 0px
}