body {background-color: pink}
p {color: red}
h1 {text-align: center;color:#ff0000}
dt {padding-left: 150px}
dd {padding-left: 200px;color:#ffdd00}
a:link {color: red}
a:hover {color: #ff0000}
a:visited#franz {color: #ff0000}
